<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oregon Hikes</title>
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    </head>
    <body>
      <h1>New Hike</h1>
      <div class="">
        <form action="/store" method="POST">
            Title:<input type="text" name="title" /><br/>
            Descr:<input type="textarea" name="description" /><br/>
            IMG  :<input type="text" name="img" /><br/>
            <input class="input1" type="submit" value="Create Hike"/>
        </form>
       </div>
    </body>
</html>