<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oregon Hikes</title>
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <nav>
            <h2>New Hike</h2>
        </nav>
      <div class="form-control-group">
        <form action="/hike" method="POST">
            Title:<input type="text" name="title">
            IMG  :<input type="text" name="img">
            MAP IMAGE  :<input type="text" name="image">
            Descrition:<input type="textarea" name="description"><br><br>
            <input type="submit" value="Create Hike"/>
        </form>
        </div>
      </div>
    </body>
</html>