img {
	height: 200px;
	width: 200px;
}
.img1{
	height: 400px;
	width: 400px;
}
body {
	background-color: #f2f2f2;
}

h2 {
	text-align: center;
	color: white;
}
h6 {
	font-family: 'Aclonica';font-size: 22px;
	color: green;
	position: absolute;
	left: 15px;
}

a {
	font-family: 'Aclonica';font-size: 18px;
}

nav {
	background-color: green;
}

.form1 {
	border: solid green;
}

.form2 {
	color: green;
}

.textarea {
	width: 300px;
    height: 150px;
}

.button-primary-outlined {
	width: 200px;
	display: flex;
	justify-content: center;
}

.div1 {
	display: flex;
	justify-content: center;
}
.div2 {
	display: flex;
	justify-content: flex-end;
}

.form-control-group {
	display: flex;
	justify-content: center;
}