img {
	height: 200px;
	width: 200px;
}
.img1{
	height: 400px;
	width: 400px;
}
body {
	background-color: #f2f2f2;
}

h2 {
	text-align: center;
	color: white;
}
h6 {
	font-family: 'Aclonica';font-size: 22px;
	color: green;
	position: absolute;
	left: 15px;
}

a {
	font-family: 'Aclonica';font-size: 18px;
}

nav {
	background-color: green;
}

.p4 {
	color: white;
	text-align: center;
}

.p1div {
	border: 1px solid orange;
	width: 150px;
	height: 25px;
	border-radius: 3px;
	background-color: orange;
}

.p2div {
	border: 1px solid red;
	width: 120px;
	height: 25px;
	border-radius: 3px;
	background-color: red;
}
.p4div {
	border: 1px solid blue;
	width: 120px;
	height: 25px;
	border-radius: 3px;
	background-color: blue;
}

.form1 {
	border: solid green;
}

.form2 {
	color: green;
}

.textarea {
	width: 300px;
    height: 150px;
}

.button-primary-outlined {
	width: 200px;
	display: flex;
	justify-content: center;
}

.div1 {
	display: flex;
	justify-content: space-around;
}
.div2 {
	display: flex;
	justify-content: flex-end;
}

.form-control-group {
	display: flex;
	justify-content: center;
}