<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
       <h1>Welcome to Oregon Hikes</h1>
       <a href="/sessions/new">Log in</a><br><br>
       <a href="/users/new">Sign Up</a>
    </body>
</html>