<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oregon Hike</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="../app.js"></script>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    </head>
    <body>
       <h1 class="h1">Welcome to Oregon Hikes</h1>
       <div class="div1">
       	<p><a href="/sessions/new">Log in</a></p>
        <p><a href="/users/new">Sign Up</a></p>
       </div>
       <center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fphotos.gograph.com%2Fthumbs%2FCSP%2FCSP192%2Fhiking-icon-on-green-background-clip-art-vector_k33464304.jpg&f=1&nofb=1" class="im4"></center>
       <center><div class="div5"><strong>H̲̲̿ɪ̲̲̿ᴋ̲̲̿ɪ̲̲̿ɴ̲̲̿ɢ̲̲̿</strong></div></center>
    </body>
</html>