<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oregon Hikes</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="../app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    </head>
    <body>
       <h1 class="h1">New User</h1>
       <div class="lbttn">
          <div class="lbttn2">
             <div class="lbttn3">
              <form action="/users" method="POST" name="myForm" onsubmit="return validateForm()">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" name="Register">
              </form>
              <input type="submit" value="&#60; Back" onclick="window.location.href='/' ">             
             </div>
          </div>
       </div>
    </body>
</html>

            